@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<h3>1: Puntuar combate</h3>
@Html.ActionLink("Ver tabla de clasificacion", "listaPersonajesAzure", "Home")



<h3>2: TABLA DE CLASIFICACIONES</h3>
@Html.ActionLink("Ver tabla de clasificacion", "listaPersonajesAzure", "Home")


<h4>3: LISTADO DE COMBATES (ver combates de la BBDD)</h4>
@Html.ActionLink("Ver tabla de listaCombatesAzure", "listaCombatesAzure", "Home")



